<div class="coin-header">
  <div class="container">
    <div class="coin__header">
      <p class="coin__ticket m-0" (click)="openPopup()">Settings</p>
      <p class="coin__balance m-0">BTC  {{ availableMoney | number:'1.0-5' }} </p>
      <p class="coin__profit m-0">{{ historyProfit | number:'1.0-5' }} BTC  ({{ (historyProfit * BTCPrice) | currency }})</p>
    </div>
  </div>
</div>

<div class="container">
  <hr>

  <form [formGroup]="keys">
    <div class="row">
      <mat-form-field class="example-full-width col-4">
        <input matInput formControlName="key" placeholder="Api">
      </mat-form-field>
      <mat-form-field class="example-full-width col-8">
        <input matInput formControlName="secret" placeholder="Secret">
      </mat-form-field>
    </div>
  </form>

  <button mat-raised-button color="basic" (click)="getBalance()">Get Balance</button>

  <button mat-raised-button color="basic" (click)="getCompleteBalances()">getCompleteBalances</button>

  <button mat-raised-button color="basic" (click)="getOpenOrders()">getOpenOrders</button>

  <button mat-raised-button color="basic" (click)="getAvailableAccountBalances()">getAvailableAccountBalances</button>

  <br><br>
  <button mat-raised-button color="basic" (click)="getTradableBalances()">getTradableBalances</button>

  <button mat-raised-button color="basic" (click)="getMarginAccountSummary()">getMarginAccountSummary</button>

  <button mat-raised-button color="basic" (click)="buy()">BUY</button>

  <button mat-raised-button color="basic" (click)="getPosa()">Get position</button>

  <br><br>
  <button mat-raised-button color="basic" (click)="closePosa()">Close position</button>


  <button mat-raised-button color="warn" (click)="stop()">Stop</button>

  <hr>
  <p>Currency price: <b> {{ price | number:'1.2-8' }}</b></p>


  <hr>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Open</th>
      <th scope="col">Count</th>
      <th scope="col">Close</th>
      <th scope="col">Profit</th>
      <th scope="col">Trend</th>
    </tr>
    </thead>
    <tbody>
    <tr class="coin__row" *ngFor="let item of history; let i = index"
        [ngClass]="{'green': item.profit > 0, 'red': item.profit < 0}">
      <th scope="row">{{ i + 1}}</th>
      <td>{{ item.open | number:'1.0-8'}}</td>
      <td>{{ item.count | number:'1.0-2' }}</td>
      <td>{{ item.close | number:'1.0-8'}}</td>
      <td>
        {{ item.profit | number:'1.0-7'}}
        <span *ngIf="item.status === 1 && item.trend">({{ currencyProfit | percent:'0.2-2' }})</span>
      </td>
      <td>{{ item.trend === -1 ? 'SHORT' : item.trend === 1 ? 'LONG' : 'WAIT'}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="popup" *ngIf="settings">
  <div class="popup__over" (click)="openPopup(false)"></div>
  <div class="popup__window">
    <div class="form-group">
      <label>Loss</label>
      <input class="form-control" type="number" [(ngModel)]="config.loss"><br>

      <label>Profit</label>
      <input class="form-control" type="number" [(ngModel)]="config.profit"><br>

      <label>Step</label>
      <input class="form-control" type="number" [(ngModel)]="config.step"><br>

      <label>Out</label>
      <input class="form-control" type="number" [(ngModel)]="config.hardOut">
      <div class="popup__btn-wrap">
        <button class="btn btn-primary" (click)="openPopup(false)">ok</button>
      </div>
    </div>
  </div>
</div>

