.coin {
  &-header {
    background: #f2f2f2;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
  }
  &__balance,
  &__profit,
  &__ticket {
    flex: 0 0 120px;
  }
  &__profit {
    flex-basis: 240px;
  }
  &__input {
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
    input {
      width: 200px;
    }
  }
  &__row {
    &.red {
      background: rgba(255, 129, 130, 0.25);
    }
    &.green {
      background: rgba(95, 128, 97, 0.25);
    }
  }
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  &__over {
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &__window {
    width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 2;
  }
  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
